@font-face {
  font-family: "Air";
  src: url("/fonts/Air/PPAir-Medium.otf")
    format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Air";
  src: url("/fonts/Air/PPAir-Medium.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Air";
  src: url("/fonts/Air/PPAir-MediumItalic.otf")
    format("opentype");
  font-weight: normal;
  font-style: italic;
}

body {
  background-color: black;
  color: white;
}

#update-text {

  color: rgb(178, 178, 178);
  position: absolute;
  font-family: Air;
  font-style: italic;

  font-size: 1vw;

  width: 100%;
  text-align: center;

  margin-top: 8vh;
}

#title-text {
  position: absolute;
  font-family: Air;
  font-weight: bold;

  font-size: 1.25vw;

  width: 60%;
  text-align: center;

  margin-top: 20vh;
  margin-left: 20vw;
}

#key {
  width: 100%;
  text-align: left;
  color: gold;

  font-family: Air;
  padding-left: 1vw;

  font-size: 3vw;
}

#value {
  width: 100%;
  position: relative;
  text-align: right;
  color: gold;

  font-family: Air;

  padding-right: 1vw;

  font-size: 3vw;
}

#dataKey {
  position: absolute;

  width: 32%;
  text-align: center;

  font-family: Air;
  font-style: italic;

  font-size: 1.7vw;
}

#bitcoin-logo {
  position: absolute;
  aspect-ratio: 1/1;
  width: 8vw;
  height: auto;

  transform: rotate(-40deg);

  margin-left: 2vw
}

#ethereum-logo {
  position: absolute;
  aspect-ratio: 1/1;
  width: 8vw;
  height: auto;

  transform: rotate(30deg);

  margin-top: 10vh;
  margin-left: 10vw;
}

#bnb-logo {
  position: absolute;
  aspect-ratio: 1/1;
  width: 8vw;
  height: auto;

  transform: rotate(30deg);

  margin-top: 10vh;
  margin-left: 80vw;
}

#usdc-logo {
  position: absolute;
  aspect-ratio: 1/1;
  width: 8vw;
  height: auto;

  transform: rotate(30deg);

  margin-left: 88vw;
}