@font-face {
  font-family: "Air";
  src: url("/Users/bodhaanshravipati/duke-maps/duke-maps/public/fonts/Air/PPAir-BlackMonoItalic.otf")
    format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Air";
  src: url("/Users/bodhaanshravipati/duke-maps/duke-maps/public/fonts/Air/PPAir-Medium.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Air";
  src: url("/Users/bodhaanshravipati/duke-maps/duke-maps/public/fonts/Air/PPAir-MediumItalic.otf")
    format("opentype");
  font-weight: normal;
  font-style: italic;
}

body {
  background-color: black;
  color: white;
}

#update-text {
  position: absolute;
  font-family: Air;
  font-style: italic;

  font-size: 1vw;

  width: 100%;
  text-align: center;

  margin-top: 4vw;
}

#title-text {
  position: absolute;
  font-family: Air;
  font-weight: bold;

  font-size: 1.25vw;

  width: 60%;
  text-align: center;

  margin-top: 11vw;
  margin-left: 20vw;
}

#key {
  width: 100%;
  text-align: left;
  color: gold;

  font-family: Air;
  padding-left: 1vw;
}

#value {
  width: 100%;
  position: relative;
  text-align: right;
  color: gold;

  font-family: Air;
}

#dataKey {
  position: absolute;

  width: 32%;
  text-align: center;

  font-family: Air;
  font-style: italic;
}