@font-face {
  font-family: 'TitleFont';
  src: url('/Users/bodhaanshravipati/duke-maps/duke-maps/public/fonts/PPRader-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


.leaflet-container {

  position: absolute;

  width: 100vw; 
  height: 60vh;

  margin-top: 40vh;

  z-index: 0;
}
